
#vemInicio, #vemSobre, #vemServico, #vemContato{
  color: #FFFFFF;
}

#vemInicio:hover, #vemSobre:hover, #vemServico:hover, #vemContato:hover{
  color: #840dc9;
  transition: 0.3s all;
  font-family: 'Poppinsbold', sans-serif;
}

/*HOME*/
section.homeEscrito{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: flex;
  padding-left: 260px;
  padding-right: 300px;
  padding-top: 170px;
}

.wed{
  font-family: 'Oswald', sans-serif;
  flex-direction: column;
  line-height: 100px;
  font-size: 35px;
  line-height: .2;
  color:#840dc9;
  margin-top: 160px;
  padding-right: 13%;
}

#resumo{
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  line-height: 22px;
}

.image3{
  width: 50%;
  margin-top: 1%;
  margin-left: 10%;
  padding-left: 14%;
  position: flex;
  padding-top: 5px;
}

/*LINHA*/
hr{
  margin-top: 10.05%;
  border-color: #000;
  position: relative;
}

/*contato*/

.contato{
  display: grid;
  position: flex;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  padding-left: 260px;
}

.trabalhe{
  font-size: 36px;
  line-height: 0;
  font-family: 'Poppins', sans-serif;
  color:#840dc9;
  margin-top: 220px;
}

#resumo2{
  color: #fff;
  font-size: 17px;
}

#Venha{
  color: #a342db;
}


span{
  color:#FFFFFF;
}

p{
  line-height: 18px;
  max-width: 490px;
  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF;
}

form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"]:hover{
  cursor: pointer;
}

input{
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}

.imagem{
  width: 360px;
  position: relative;
  top: 55px;
  padding-top: 100px;
  margin-top: 350px;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}

.botao{
  display: inline-block;
border-radius: 10px;
background-color: #61277c;
background-image: linear-gradient(#840dc9, #61277c);
border: none;
color: #FFFFFF;
text-align: center;
font-size: 22px;
padding: 13px;
width: 180px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.botao span{
  cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.botao span:after{
  content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.botao:hover span {
  padding-right: 25px;
}

.botao:hover span:after {
  opacity: 1;
  right: 0;
}

/* PARTE 2 */

#p2{
  line-height: 18px;
  max-width: 100%;
  font-family: 'Poppinslight', sans-serif;
}

#hp{
  color: #840dc9;
}
#HP-botao {
  text-align: center;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #840dc9, #61277c, #261a36);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
  width: 180px;
  text-decoration: none;
 }
 
#HP-botao svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }
 
#HP-botao span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }
 
#HP-botao:hover svg {
  transform: translateX(5px) rotate(90deg);
 }
 
#HP-botao:hover span {
  transform: translateX(7px);
 }